<!-- carrinho.component.html -->

<header>
  <nav>
    <ul>
      <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/shop" routerLinkActive="active">Shop</a></li>
      <li><a routerLink="/cart" routerLinkActive="active">Cart</a></li>
    </ul>
  </nav>
</header>

<div class="cart">
  <h2>Seu Pedido</h2>
</div>

<div class="cart-container">
  <div *ngIf="cartItems.length > 0; else emptyCart" class="cart-items-list">
    <div class="cart-item-card" *ngFor="let item of cartItems; trackBy: trackById">
      <div class="cart-item-content">
        <div class="book-content">
          <div class="img"></div>
          <div class="written-book-content">
            <h3 class="item-title">{{ item.livro.titulo }}</h3>
            <p class="item-author"><strong>Autor:</strong> {{ item.livro.autor }}</p>
            <p class="item-synopses"><strong>Sinopse:</strong> {{ item.livro.sinopse }}</p>
            <p class="item-price"><strong>Valor: R$</strong> {{ item.livro.valor }}</p>
            <p class="item-quantity"><strong>Quantidade: </strong> {{ item.quantidade }}</p>
          </div>
        </div>
        <div class="btns">
          <div class="total-price">
            <p class="item-total"><strong>Total: R$</strong> {{ item.livro.valor * item.quantidade }}</p>
          </div>
        </div>
      </div>
    </div>
    <p-button label="Confirmar Pedido" (click)="confirmOrder()" ></p-button><!-- método de deletar carrinho+itens e confirmar o status do pedido-->
  </div>
  <ng-template #emptyCart>
    <p>Seu pedido está vazio.</p>
  </ng-template>
</div>
