<div class="login-container">
  <h2>Login</h2>
  <form class="login-form" (ngSubmit)="onLogin()">
    <div class="form-field">
      <div class="label-input">
        <label for="email">Email</label>
        <input id="email" type="text" [(ngModel)]="loginRequest.email" name="username" required />
      </div>
    </div>
    <div class="form-field">
      <div class="label-input">
        <label for="password">Senha</label>
        <input id="password" type="password" [(ngModel)]="loginRequest.password" name="password" required />
      </div>
    </div>
    <p-button label="Entrar" type="submit"></p-button>
  </form>
</div>
