@import "primeng/resources/themes/lara-light-amber/theme.css";
@import "primeng/resources/primeng.min.css";
@import "primeicons/primeicons.css";

body, main {
  width: 100%;
}

.login-container {
  max-width: 60%;
  margin: 0 auto;
  margin-top: 80px;
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  text-align: center;

  h2 {
    margin-bottom: 24px;
  }
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 30px;

  .form-field {
    width: 100%;

    .label-input {
      display: flex;
      flex-direction: column;
      margin-bottom: 16px;

      input {
        width: 100%;
        padding: 8px;
        box-sizing: border-box;
      }

      label {
        align-self: flex-start;
        margin-bottom: 10px;
        color: #262626;
        left: 8px;
      }
    }
  }

  p-button {
    align-self: center;
  }
}
