<!-- carrinho.component.html -->

<header>
  <nav>
    <ul>
      <li><a routerLink="/usuario/home" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/usuario/carrinho" routerLinkActive="active">Carrinho</a></li>
      <li><a routerLink="/usuario/pedidos" routerLinkActive="active">Pedido</a></li>
    </ul>
  </nav>
</header>

<div class="cart">
  <h2>Seu Carrinho</h2>
</div>

<div class="cart-container">
  <div *ngIf="cartItems.length > 0; else emptyCart" class="cart-items-list">
    <div class="cart-item-card" *ngFor="let item of cartItems; trackBy: trackById">
      <div class="cart-item-content">
        <div class="book-content">
          <div class="img"></div>
          <div class="written-book-content">
            <h3 class="item-title">{{ item.livro.titulo }}</h3>
            <p class="item-author"><strong>Autor:</strong> {{ item.livro.autor }}</p>
            <p class="item-synopses"><strong>Sinopse:</strong> {{ item.livro.sinopse }}</p>
            <p class="item-price"><strong>Valor: R$</strong> {{ item.livro.valor }}</p>
          </div>
        </div>
        <div class="btns">
          <div class="total-price">
            <p class="item-total"><strong>Total: R$</strong> {{ item.livro.valor * item.quantidade }}</p>
          </div>
          <div class="quantity-control">
            <button pButton type="button" icon="pi pi-plus" (click)="incrementQuantity(item)"></button>
            <p-inputNumber [ngModel]="item.quantidade" (ngModelChange)="updateItemQuantity(item.id, $event)" [min]="1" [max]="999" [step]="1"></p-inputNumber>
            <button pButton type="button" icon="pi pi-minus" (click)="decrementQuantity(item)"></button>
          </div>
          <p-button class="remove_btn" (click)="removeItem(item.id)">Remover</p-button>
        </div>
      </div>
    </div>
    <p-button label="Finalizar Pedido" (click)="finalizeOrder()" ></p-button><!-- método que transfere os dados de carrinho+itens para pedido+itens-->
  </div>
  <ng-template #emptyCart>
    <p>Seu carrinho está vazio.</p>
  </ng-template>
</div>
