

<div class="register-container">
  <h2>Login</h2>
  <form class="register-form">
    <div class="form-field">
      <p-floatLabel>
        <input id="email" type="email" pInputText />
        <label for="email">E-mail</label>
      </p-floatLabel>
    </div>
    <div class="form-field">
      <p-floatLabel>
        <input id="password" type="password" pInputText />
        <label for="password">Senha</label>
      </p-floatLabel>
    </div>
    <p-button label="Entrar" [raised]="true" routerLink="/home"></p-button>
  </form>
</div>

