<div class="edit-book-container">
  <h2>Editar Livro</h2>
  <form [formGroup]="registerForm" (ngSubmit)="updateBook()">
    <div class="form-field">
      <div class="label-input">
        <label for="titulo">Título</label>
        <input id="titulo" type="text" pInputText formControlName="titulo" />
      </div>
    </div>

    <div class="form-field">
      <div class="label-input">
        <label for="autor">Autor</label>
        <input id="autor" type="text" pInputText formControlName="autor" />
      </div>
    </div>

    <div class="form-field">
      <div class="label-input">
        <label for="sinopse">Sinopse</label>
        <textarea id="sinopse" pInputTextarea formControlName="sinopse"></textarea>
      </div>
    </div>

    <div class="form-field">
      <div class="label-input">
        <label for="valor">Valor</label>
        <input id="valor" type="number" pInputText formControlName="valor" />
      </div>
    </div>

    <div class="form-field">
      <div class="label-input">
        <label for="quantidade">Quantidade</label>
        <input id="quantidade" type="number" pInputText formControlName="quantidade" />
      </div>
    </div>

    <p-button label="Atualizar Livro" icon="pi pi-check" type="submit"></p-button>
  </form>
</div>
